span input{
    margin-left: 16px;
    margin-right: 4px;
}

span label{
    margin-right: 16px;
}

h2 span {
    font-size: 1rem;
    float:right;
}

#sort-by {
    float: right;
    font-size: 1.125rem;
}

html {
    height: 100%;
    background: rgb(233, 236, 239);
}

#root {
    background: rgb(233, 236, 239);
}

footer {
    height: 50px;
}

footer p {
    margin-top: 14px;
    font-size: 1rem;
    color: white;
}

.para {
    font-size: 1.5rem;
}